a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
}

body {
  background-image: linear-gradient(#42275a, #734b6d);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: auto;
}

.navbar-font-styles {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 15px;
  z-index: 1;
  background-color: rgba(66, 39, 90, 0.62);
  border-radius: 15px;
}

.neg-zi {
  z-index: -1;
}

.pos-zi {
  z-index: 2;
}

.brand-style {
  font-size: 20px;
}

.about-me--profile-picture {
  width: 20rem;
  height: auto;
  border-radius: 50%;
}

.portfolio-footer--container {
  min-height: 60px;
  position: relative;
}

.portfolio-footer--text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.project-card {
  background-color: rgb(241, 241, 241);
  width: 60rem;
  height: 18rem;
  min-height: 250px;
}

.about-me--min-height {
  min-height: 750px;
}

.highlight {
  color: red;
}

.error-message-style {
  font-size: 20px;
}
