.about-me--profile-picture {
  width: 20rem;
  height: auto;
  border-radius: 50%;
}

.portfolio-footer--container {
  min-height: 60px;
  position: relative;
}

.portfolio-footer--text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.project-card {
  background-color: rgb(241, 241, 241);
  width: 60rem;
  height: 18rem;
  min-height: 250px;
}

.about-me--min-height {
  min-height: 750px;
}
