a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
}

body {
  background-image: linear-gradient(#42275a, #734b6d);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: auto;
  color: #fff;
}

.navbar-font-styles {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 15px;
  z-index: 1;
  background-color: rgba(66, 39, 90, 0.62);
  border-radius: 15px;
}

.neg-zi {
  z-index: -1;
}

.pos-zi {
  z-index: 2;
}

.brand-style {
  font-size: 20px;
}

.about-me--profile-picture {
  width: 20rem;
  height: auto;
  border-radius: 50%;
}

.portfolio-footer--text {
  font-size: 15px;
}

.project-card {
  background-color: rgb(241, 241, 241);
  width: 60rem;
  height: 18rem;
  min-height: 250px;
}

.about-me--min-height {
  min-height: 750px;
}

.highlight {
  background: linear-gradient(yellow, orange);
  color: transparent;
  background-clip: text;
}

.error-message-style {
  font-size: 20px;
}

.dark-font {
  color: black;
}

.repo-card {
  background-image: linear-gradient(rgb(116, 116, 116), rgb(173, 173, 173));
  border-radius: 2%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
