.about-me--profile-picture {
  width: 15rem;
  height: auto;
  border-radius: 50%;
}

.portfolio-footer--container {
  min-height: 60px;
  position: relative;
}

.portfolio-footer--text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.project-card {
  background-color: rgb(241, 241, 241);
}
